/*
p{
    display: inline;
    width:600px;
    margin-left: 50px;
}
*/
p:nth-child(odd){
    background-color: blue;
}
p:nth-child(even){
    background-color: orange;
}
p:nth-child(1n+3){
    display: block;
}
a{
    width:200px;
    height:200px;
    background-color:orange;
    color:blue;
    font-size:1.2em;
    display:inline-block;
    margin:5px;
    text-align: center;
    line-height: 200px;
}
img{
    float:right;
}
p:nth-child(2){
    clear:both;
}